#wrapper,
main,
#content,
#sidebar,
aside,
section{
	@include box;
}
.layout {
	@include box;
	width:1200px;
	margin:0 auto;
	@media (min-width: 768px) and (max-width: 1279px) {
		width: 96%;
		// overflow: visible;
	}
	@media (max-width: 767px) {
		width:335px;
	}
}
