/* Brand Colors ------------------------------------------------*/
$base-font-weight: 300;
$brand-font-1: '',sans-serif;
$brand-font-2: '',sans-serif;



$section-background: #E5E5E5;
$header: #FFFFFF;
$footer-background: #F8F8F8;

$title-1: #D2D2D2;

$text-1: #FFFFFF;
$text-2: #6F6E6E;
$text-3: #000000;
$text-4: #1D1B1B;

$button: #01D957;
